// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;

$primary : #0e1555;
$secondary : #4e1184;
$header : #932b77;
$action : #fd367e;
$dark: rgba(26,26,26, .9);
$light-gray: #D3D3D3;
$gray: #808080;

$card: rgba(38, 38, 38, .9);
$inner-card: rgba(51, 51, 51, .9);

$white: #efefef;


