.confirm {
  // padding: $padding;

  h1 {
    color: $header;
    font-size: 32px;
    border-bottom: 1px solid $header;
    margin-top: 0;
    margin-right: 30%;
  }
  h2 {
    color: white;
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 10px;
  }
}

.confirm-title-box {
  margin-top: 80px;
  background: $dark;
  padding: 25px 10px 5px 3px;

  a {
    width: 100%;
    text-decoration: none;
    text-align: center;
    color: $gray;
    font-size: 20px;
  }
}
