

.category_buttons{
  //width:90px;
  //height:90px;
  //border-radius:50%;
  padding:25px 20px 20px 20px;
  position: fixed;
  bottom:20px;
  right:20px;
  margin-top:5px;
  text-align: center;
  z-index: 800;
  color: $action;

  .fas{
    color: $action;
  }
}

// search png
/*#category_btn {
  background: none;
  border: none;
  text-decoration: none;
}

.search_button_cat_wrapper{
  background: none;
  border: none;
  text-decoration: none;
}*/

// contains the ind buttons
.search_button_cat{
  background-color: $white;
  width:75px;
  height:75px;
  border-radius:50%;
  padding:10px;
  box-shadow: 0 0 4px #999;
}


.hidden-btn{
  position: fixed;
  bottom: 75px;
  right:20px;
  color: $white;
}


.top{
  opacity:0;
  animation: 200ms linear btnMoveTop;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}

.beer{
  opacity:0;
  animation: 200ms linear btnMoveBeer;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}

.wine{
  opacity:0;
  animation: 200ms linear btnMoveWine;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}

.shot{
  opacity:0;
  animation: 200ms linear btnMoveShot;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}

.cocktail{
  opacity:0;
  animation: 200ms linear btnMoveCocktail;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}

.move_left{
  margin-right:85px;
  padding-bottom:20px;
  font-size: 300;
}

.fas{
  text-align:center;
  padding-top:9px;
}


@keyframes btnMoveWine {
  from{
    bottom: 75px;
    right:20px;
    animation-timing-function: ease-out;
    opacity: 0;
  }
  to{
    bottom: 180px;
    opacity: 1;
  }
}

@keyframes btnMoveBeer {
  from{
    bottom: 75px;
    right:20px;
    animation-timing-function: ease-out;
    transition-opacity:0;
  }
  to{
    bottom: 280px;
    opacity:1;
  }
}
@keyframes btnMoveShot {
  from{
    bottom: 75px;
    right:20px;
    animation-timing-function: ease-out;
    opacity: 0;
  }
  to{
    bottom: 380px;
    opacity:1;
  }
}
@keyframes btnMoveCocktail {
  from{
    bottom: 75px;
    right:20px;
    animation-timing-function: ease-out;
    opacity: 0;
  }
  to{
    bottom: 480px;
    opacity:1;
  }
}
@keyframes btnMoveTop {
  from{
    bottom: 75px;
    right:20px;
    animation-timing-function: ease-out;
    opacity: 0;
  }
  to{
    bottom: 580px;
    opacity:1;
  }
}



/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.3s;
}
.ripple:hover {
  background: $white radial-gradient(circle, transparent 1%,$white 1%) center/15000%;
}
.ripple:active {
  background-color: #f779a6;
  background-size: 100%;
  transition: background 0s;
}

.ripple_button {
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: $action;
  background-color: $white;
  box-shadow: 0 0 4px #999;
  outline: none;
  border-radius:50%;
  padding:5px;
  padding-bottom:10px;
  position: fixed;
  bottom:75px;
  right:10px;
  width:90px;
  height:90px;
}

.greybody {
  background-color: rgba(45, 45, 45, 0.7) !important;
  z-index: 700;
  position: absolute;
  top:0;
  bottom:0;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.4s ease;
}






//////////////////////////////////MAP

.map_bg{
  background-image: url('eta_map.png');
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 80px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-left: solid 15px $action;
  color: #808080;
  position:absolute;
  top: -50px;
  width:394px;
  font-weight: 300;
  text-align:left;
  z-index:450;
}

.map_card{
  padding-top: 10px;
  color:white;
  background-image: linear-gradient(to right,rgba(22, 22, 22, .9), rgba(22, 22, 22, 0.2));
  display: flex;
  width: 100%;
}

.map_ping{
  padding-top: 10px;
}

.eta_btn{
  color: $action;
  font-size:30px;
}


.hide {
  display: none;
  height: 0;
  overflow: hidden;
  transition: height 400ms ease-in-out;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#map_open{
  border-left: solid 15px $action;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: height 400ms ease-in;
}

// #map_close{
//   transition: height 400ms ease-out;
// }















