// Specific CSS for your home-page
body{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.bottom_margin{
  height: 90px;
}


