.back-arrow {
  position: absolute;
  top: 70px;
  left: 10px;
  color: white;
  font-size: 32px;
}

.btn {
  background-color: rgba(0,0,0,0);
  border: none;
}

.hover_on_banner {
  margin-top: -70px;
}

