.summary-container {
  padding: 1px 30px 15px 15px;
}

.sum_cont{
width:100%;
content-align:right;
margin-top:5px;
}

.summary {
  width:40%;
  background-color: $header;
  color: white;
  opacity: 0.7;
  height: 38px;
  text-align:center;
  padding-top:5px;
  border-radius: 2px;
  a {
    color: white;
    text-decoration: none;
  }
}

.checkout-grand-total {
  display: flex;
  justify-content: space-evenly;
}

.summary-go-back {
  justify-content: center;
  color: $action;
}

.receip-container {
  padding: 15px;
}

.receip-container-payment {
  padding: 0px 15px;
}

.drink-summary {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px
}

.drink_summary_amount_name {
  display: flex;
  justify-content: space-between;
}

.drink_summary_amount_name > p {

  &:first-child {
    padding-right: 5px;
  }
  &:last-child {
    padding-left: 5px;
  }
}

.border-bottom {
  &:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 92%; /* Change this to whatever width you want. */
    /* padding-top: 20px; This creates some space between the element and the border. */
    border-bottom: solid 2px $gray; /* This creates the border. Replace black with whatever color you want. */
  }
}

.summary-header-container {
  background: rgb(38, 38, 38);
  text-align: center;
}


.sum_btm_font{
  font-weight: 300;
  font-size:25px;

  a{
     text-decoration: none;
  color: white;
  }
}



