<div class="content">
  <section class="card theme-red" data-color="#BA68C8">
    <div class="card__map">
      <div class="card__map__inner"></div>
    </div>
    <section class="card__part card__part-1">
      <div class="card__part__inner">
        <header class="card__header">
          <div class="card__header__close-btn"></div>
        </header>
        <div class="card__stats">
        </div>
      </div>
    </section>
    <section class="card__part card__part-2">
      <div class="card__part__side m--back">
        <!-- Visible when card is folded -->
      </div>
      <div class="card__part__side m--front">

        <section class="card__part card__part-3">
          <div class="card__part__side m--back"></div>
          <div class="card__part__side m--front">
            <section class="card__part card__part-4">
              <div class="card__part__side m--back"></div>
              <div class="card__part__side m--front">
              </div>
            </section>
          </div>
        </section>
      </div>
    </section>
  </section>
</div>
