<% drinks.each do |drink| %>
  <div class="drink">
    <div class="drink-content">
      <%= drink.name %>
      <%= drink.category.name %>
    </div>
    <% order_drinks = order.order_drinks.where(drink: drink) %>
    <% if order_drinks.length > 0 %>
      <div>
        <p>Total = <%= order_drinks.length %></p>
      </div>
    <% end %>
    <div class="hidden-order-btns", style="display: none">
      <p>-</p>
      <input id="order-amount" type="number" value="0" name="order-amount">
      <p>+</p>
      <%= link_to "Add", new_order_drink_path(order, drink), method: :post, remote: true %>
    </div>
  </div>
<% end %>
