<h1>Drinks</h1>
<p>Find me in app/views/drinks/index.html.erb</p>

<%= link_to "Launch modal" %>
<%= link_to "Pay", order_path(1), class: "btn btn-primary" %>
<%= link_to "ETA", event_path(1), class: "btn btn-primary" %>

<button id="category_btn">Categories</button>
<button class="hidden-btn"style="display: none">Beers</button>
<button class="hidden-btn"style="display: none">Cocktails</button>
<button class="hidden-btn"style="display: none">Shots</button>
<button class="hidden-btn"style="display: none">Wine</button>
