<h2>Confirmation</h2>
<h3>Your order has been sent!</h3>
<p>View order</p>
<h3>Pick up your order here</h3>
<p>We will let you know when your order is ready</p>

<!-- Insert map here -->

<p>Present this QR code upen pick up</p>

<%= raw @qr.as_html %>
