

<div id="image_url" class="hidden">
  <%= image_url 'iphone_logo.png' %>
</div>
<%= link_to confirmation_2_path do %>
  <div class="noti_click"></div>
<% end %>
<div class="noti_click_icon">

</div>

<img src="<%= image_url 'sleep_notification.png' %>" alt="notification" class="iphone">

<%= javascript_pack_tag 'notification' %>
