<%= link_to events_path do  %>
  <div class="splash_container">
  <%=image_tag "tempbg.png", class: "temp_bg"%>

    <div class="splash_info">
      <h1>KANGA</h1>
      <h6 style="margin-top: -10px; font-size: 24px;">Jump Ahead Of The Line</h6>
      <%=image_tag "kangalife.png", class: "splash_kanga"%>
    </div>
  </div>
<% end %>
<!-- All this styling can be found in the assets/stylesheets/components/container.scss-->
