<h1>Splash</h1>
<p>Find me in app/views/pages/splash.html.erb</p>

<%= link_to "Sign in", new_user_session_path, class: "btn btn-primary" %>
<%= link_to "Events", events_path, class: "btn btn-primary" %>
