.card {
  min-height: 80px;
  padding-top:5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1A1C20;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 2px;
  color: white;
  // position: relative;
}
.inner-card {
  max-height: 80px;
  // padding: 2px 24px;
  display: flex;
  // flex-direction: row;
  justify-content: space-between;
  // align-items: center;
  background: #1A1C20;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  // margin: auto;
  width:100%;
  float:left;
  color: white;

  form {
    display: flex;
    margin:auto;
    width:100%;
    .card-minus{

      margin-left:auto;
      margin-right: auto;
      display: flex;
      width: 100%;
    }
    input {
      max-width:40px;
      margin-right: 2px;
      margin-left: auto;
    }
    label {
      margin-right: 40px;
    }

  }
}


.drink_order_number{
  width:30px;
  height: 30px;
  background-color: $header;
  border: solid 1px white;
  border-radius: 15px;
  color: white;
  text-align: center;
}


.drink-minus-btn{
  color:#c4c4c4;
  display:flex;
  align-items: center;
  height:40px;
  width:40px;
  justify-content: center;
  border:2px solid #c4c4c4;
  border-radius:50%;
  margin-top: auto;
  margin-bottom:auto;
  margin-left: auto;
  margin-right: 50px;
}

.drink-plus-btn{
  color:#c4c4c4;
  display:flex;
  align-items: center;
  justify-content: center;
  height:40px;
  width:40px;
  border:2px solid #c4c4c4;
  border-radius:50%;
  margin-top: auto;
  margin-bottom:auto;
  margin-left: 50px;
  margin-right: auto;
}
.order_drink_amount{
  // display:block;
  width: 50px;
  font-size: 16px;
}
