.card {
  min-height: 80px;
  padding-top:5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: $card;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 8px;
  font-weight: 300;
  text-align:left;
  position: relative;
  color: white;
}

.card_name{
   font-size:20px;
   width: 100%;
   padding-right: 5px;
}

.drink_order_number{
  width:30px;
  height: 30px;
  background-color: $header;
  border: solid 1px white;
  border-radius: 15px;
  color: white;
  text-align: center;
  position: absolute;
  top: -46px;
  left:0;
}

.card_icon{
//border:solid 1px yellow;
width: 100%;
}

.card_price{
  width: 50px;
  position: absolute;
  right:10px;
}



.drink-minus-btn{
  color:#c4c4c4;
  display:flex;
  align-items: center;
  height:40px;
  width:40px;
  justify-content: center;
  border:2px solid #c4c4c4;
  border-radius:50%;
  margin-top: auto;
  margin-bottom:auto;
  margin-left: auto;
  margin-right: 50px;
}

.drink-plus-btn{
  color:#c4c4c4;
  display:flex;
  align-items: center;
  justify-content: center;
  height:40px;
  width:40px;
  border:2px solid #c4c4c4;
  border-radius:50%;
  margin-top: auto;
  margin-bottom:auto;
  margin-left: 50px;
  margin-right: auto;
}

.checkout-tip {
  display: flex;

  .drink-plus-btn {
    color: $action;
    border:2px solid $action;
    height: 40px;
    width: 40px;
    margin-left: 10px;
    margin-top: 0px;

  }
  .drink-minus-btn {
    color: $action;
    border:2px solid $action;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    margin-top: 0px;
  }
  .order-amount {
  background-color: #1A1C20;
  border: none;
  width: 66px;
  text-align: center;
  }
}

.order_drink_amount{
  width: 50px;
  font-size: 16px;
}



// second card

.card_under {
  min-height: 80px;
  padding-top:5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $inner-card;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  border: $card solid 2px;
  // position: relative;
}
 .inner-card_under {
  //min-height: 60px;
  display: flex;
  justify-content: space-between;
  width:100%;
  float:left;
  color: white;

  form {
    display: block;
    margin:auto;
    width:100%;
    .card-minus{
      margin-left:auto;
      margin-right: auto;
      display: flex;
      width: 100%;
    }
    input {
      margin-right: 2px;
      margin-left: auto;
      text-align:center;
      margin-top:5px;
    }
    label {
      margin-right: 40px;
    }
  }
}

.order-submit{
  color: $action;
  font-size: 19px;
  display: block;
  font-weight: 300;
  background: none;
  border: none;
}

.card_form{
display:flex;
padding:none;
}








