.banner{
  width:100vw;
  height: 260px;
  position:relative;
  //background-attachment: fixed;
  //background-position: center;
  //background-repeat: no-repeat;
  //background-size: cover;
}

.main_container{
 height: 100%;
 width:100%;
 color:white;
}

.body_container{
 background-image: linear-gradient(to right, rgba(14,21,85,0.8), rgba(78,17,132,0.8));
 height: 100%;
 background-attachment: fixed;
 background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 width:100%;
 padding: 5px 10px 80px 10px;
 position:relative;
}

.main_container_events{
 height: 100vh;
 background-image: linear-gradient(rgba(14,21,85,0.7), rgba(78,17,132,0.7));
 color:white;
}

.splash_container{
  height:100vh;
  text-align: center;
  color: white;
  }

  .splash_info{
  margin: 0 auto ;
  position:absolute;
  top:0;
  padding-top:130px;
  }
    .splash_info h1{
    font-size:70px ;
    font-weight: 300;
    }

    .splash_info h6{
    font-size:30px ;
    font-weight: 300;
    }

  .splash_kanga{
    width: 65%;
    padding-top: 75px;
  }

.temp_bg{
  width:100vw;
  height:100vh;
  position:relative;

}

// BUTTONS :P

.confirm_div{
  display:block;
}

.confirm_tab{
  width: 100%;
  height: 55px;
  background-color: $action;
  z-index:500;
  position: fixed;
  bottom: 0;
  left: 0 ;
  display: flex;
  padding:10px 8px 8px 25px;
  justify-content: space-evenly;


  p{
    font-size: 25px;
    font-weight: 300;
  }
}

.confirm_button{
  display:block;
  height: 100%;
  height: 100%;
  color:white;
}

.grey_button {
  background-color: $gray;
  p {
    color: $dark !important;
  }
}
















