*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
$openSans: 'Open Sans', Helvetica, Arial, sans-serif;
// body {
//   background: #222;
//   font-family: $openSans;
// }

$screenW: 375px;
$screenH: 667px;
$padSide: 24px;
$padVert: 106px;
$phoneW: $screenW + $padSide*2;
$phoneH: $screenH + $padVert*2;

%smallHeading {
  font-size: 10px;
  text-transform: uppercase;
  color: #B5B5B5;
}

.content {
  position: relative;
  padding-top: 30px;

}

$cardHeight: 160px;
$cardHeaderHeight: 40px;
$cardStatsHeight: $cardHeight - $cardHeaderHeight;
$cardMapHeight: $cardHeight + 100px;
$cardSenderHeight: 90px;
$cardFromToHeight: $cardHeight - $cardSenderHeight;
$cardLastPartHeight: $cardFromToHeight + 15px;
$cardMrgBtm: 15px;
$cardStep1MrgBtm: $cardHeight + $cardMrgBtm;
$cardStep2MrgBtm: $cardStep1MrgBtm + $cardFromToHeight;
$cardStep3MrgBtm: $cardStep2MrgBtm + $cardLastPartHeight;
$cardReqStep1MrgBtm: $cardHeaderHeight + $cardSenderHeight + $cardLastPartHeight - $cardHeight;
$cardReqStep2MrgBtm: $screenH - $cardHeight - $cardMrgBtm*2;
$cardBorderRadius: 11px;

$cardAnimStep1: 0.5s;
$cardAnimStep2: 0.5s;
$cardAnimStep3: 0.5s;

$cardReqAnimStep1: 0.6s;
$cardReqAnimStep2: 0.6s;

$cardReqClosing1: 0.5s;
$cardReqClosing2: 0.5s;

$cardAnimTotal: $cardAnimStep1 + $cardAnimStep2 + $cardAnimStep3;

$red: #EF5350;

.card {
  z-index: 1;
  position: relative;
  width: 90%;
  height: $cardHeight;
  margin-left: 18px;
  margin-bottom: $cardMrgBtm;
  perspective: 2000px;
  transition: margin $cardAnimStep1 * 0.8 $cardAnimStep1 * 0.2;

  &.active {
    transition: margin $cardAnimStep1 * 0.8;
  }

  &.flip-step1 {
    margin-bottom: $cardStep1MrgBtm;
  }

  &.flip-step2 {
    margin-bottom: $cardStep2MrgBtm;
  }

  &.flip-step3 {
    margin-bottom: $cardStep3MrgBtm;
  }

  &.req-active1 {
    transition: margin $cardReqAnimStep1 cubic-bezier(.77,.03,.83,.67);
    margin-bottom: $cardReqStep1MrgBtm;
  }

  &.req-active2 {
    transition: margin $cardReqAnimStep2 cubic-bezier(.31,.14,.48,1.52);
    margin-bottom: $cardReqStep2MrgBtm;
  }

  &.req-closing1 {
    transition: margin $cardReqClosing1;
    margin-bottom: $cardHeight + $cardMrgBtm;
  }

  &.req-closing2 {
    transition: margin $cardReqClosing2;
    margin-bottom: $cardMrgBtm;
  }

  &.hidden-hack {
    .card__part-2 > .m--front{
      display: none;
    }
  }

  &.no-transition {
    transition: all 0s 0s !important;

    * {
      transition: all 0s 0s !important;
    }
  }

  &.theme-red {
    .card__header {
      background: $red;
    }
  }

  &__part {
    z-index: 1;
    position: absolute;
    left: 0;
    width: 100%;
    border-radius: $cardBorderRadius;
    transform-origin: 50% 0;
    transform-style: preserve-3d;

    &__side {
      z-index: 1;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      background: #fff;
      backface-visibility: hidden;
      transform-style: preserve-3d;

      &.m--back {
        transform: rotateX(180deg);
      }
      &.m--front {
        background: #fff;
      }
    }

    &-1 {
      top: 0;
      height: 100%;
      transition: all $cardAnimStep1/2;
      transform: translateZ(-3px);

      .card.flip-step1 & {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        transform: translateZ(0);
      }

      .card.req-closing2 & {
        border-radius: $cardBorderRadius;
      }
    }

    &-2 {
      z-index: 6;
      top: 100%;
      height: 100%;
      transform: rotateX(179deg) translateZ(3px);
      transition: transform $cardAnimStep1 ease-out, border-radius $cardAnimStep1/2;

      > .m--back {
        overflow: hidden;
        cursor: pointer;
      }

      .card.flip-step1 & {
        transform: translateZ(0);
        border-radius: 0;
      }

      .card.req-active1 & {
        transition: transform $cardReqAnimStep1;
        transform: translate3d(0,-$cardStatsHeight,0);
      }

      .card.req-active2 & {
        transition: transform $cardReqAnimStep2 cubic-bezier(.61,.14,.18,1.52);
        transform: translate3d(0, $cardMapHeight - $cardStatsHeight,0);
      }

      .card.req-closing1 & {
        transition: transform $cardReqClosing1;
        transform: translate3d(0,0,0);
      }

      .card.req-closing2 & {
        transition: transform, border-radius;
        transition-duration: $cardReqClosing2;
        transform: rotateX(179deg) translateZ(3px);
        border-radius: $cardBorderRadius;
      }
    }

    &-3 {
      top: 100%;
      height: $cardFromToHeight;
      transform: rotateX(179deg) translateZ(-3px);
      transition: transform $cardAnimStep2, border-radius 0s $cardAnimStep3;

      > .m--back {
        background: #F7EFF7;
      }

      .card.flip-step2 & {
        transition: transform $cardAnimStep2, border-radius 0s 0s;
        border-radius: 0;
        transform: translateZ(0);
      }

      .card.req-active1 & {
        transition: transform, height;
        transition-duration: $cardReqAnimStep1;
        transform: translate3d(0,-$cardFromToHeight,0);
        height: 0;
      }

      .card.req-active2 & {
        transition: transform, height;
        transition-duration: $cardReqAnimStep2;
        transform: translate3d(0,0,0);
        height: 75px;
      }

      .card.req-closing1 & {
        transition: transform $cardReqClosing1;
        transform: rotateX(179deg) translateZ(-3px);
      }

      .card.req-closing2 & {
        transition: border-radius $cardReqClosing1;
        border-radius: $cardBorderRadius;
      }
    }

    &-4 {
      top: 100%;
      height: $cardFromToHeight;
      transform: rotateX(179deg) translateZ(0);
      transition: transform $cardAnimStep3, border-radius 0s 0s, height $cardAnimStep3;

      > .m--back {
        background: #F7EFF7;
      }

      > .m--front {
        padding: 10px 20px;
        opacity: 0;
        transition: opacity 0s $cardAnimStep3;
      }

      .card.flip-step2 & {
        transition: transform $cardAnimStep3, border-radius 0s 0s, height $cardAnimStep3*0.66 $cardAnimStep3*0.33;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      .card.flip-step3 & {
        transition: transform $cardAnimStep2, border-radius 0s 0s, height $cardAnimStep2*0.66;
        height: $cardLastPartHeight;
        transform: translateZ(0);

        > .m--front {
          opacity: 1;
          transition: opacity 0s 0s;
        }
      }

      .card.req-closing1 & {
        transition: border-radius $cardReqClosing1;
        border-radius: 0;
      }

      .card.req-closing2 & {
        transition: border-radius $cardReqClosing2;
        border-radius: $cardBorderRadius;
      }
    }

    &__inner {
      overflow: hidden;
      position: relative;
      height: 100%;
      border-radius: inherit;
    }

  }

  &__header {
    position: relative;
    height: $cardHeaderHeight;
    color: rgba(255,255,255,0.8);

    &__close-btn {
      z-index: 2;
      position: absolute;
      left: 12px;
      top: 12px;
      width: 16px;
      height: 16px;
      transition: transform 0.3s;
      cursor: pointer;

      &:hover {
        transform: rotate(90deg);
      }

      &:before,
      &:after {
        content: "";
        position: absolute;
        left: -4px;
        top: 7px;
        width: 23px;
        height: 2px;
        background: #fff;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }

  &__map {
    display: none;
    overflow: hidden;
    z-index: -1;
    position: absolute;
    left: 0;
    top: $cardHeaderHeight;
    width: 100%;
    height: $cardMapHeight - 150px;
    opacity: 0;

    .card.map-active & {
      display: block;
    }

    .card.req-active2 & {
      transition: height $cardReqAnimStep2*0.8;
      height: $cardMapHeight + 50px;
      z-index: 5;
      opacity: 1;
    }

    .card.req-closing1 & {
      transition: height $cardReqClosing1;
      height: $cardStatsHeight;
    }

    .card.req-closing2 & {
      transition: opacity $cardReqClosing2;
      opacity: 0;
    }

    &__inner {
      position: absolute;
      left: -5%;
      top: -5%;
      width: 110%;
      height: ($cardMapHeight + 50px) * 1.1;
      transform: scale(1);
      transition: transform $cardReqAnimStep2 cubic-bezier(.8,-1.4,.8,1.4);

      .card.req-active2 & {
        transform: scale(1.1) !important;
      }
    }
  }

}
