.event_cards{
  height:260px;
}

.gradient{
  background-image: linear-gradient(to bottom right, rgba(14,21,85,0.7), rgba(147,43,119,0.7));
  height: 100%;
  padding:15px;
  text-decoration: none;
}

.gradient p {
  margin: 0 0 1px;
  color: #D3D3D3;
  font-size:20px;
  font-weight: 300;
  text-decoration: none;
}
.gradient h6 {
  color: #D3D3D3;
  font-size:18px;
  font-weight: 300;
}

.text_center{
  text-align: center;
}
