.header_card {
  min-height: 80px;
  padding: 1px 30px 15px 15px;
  justify-content: center;
  align-items: center;
  background: $card;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  color: white;
}

.header_title{
  color: $header;
  font-size: 30px;
}

.card_sub_header{
  color: #808080;
  border-bottom: solid 2px $header;
  font-size: 20px;
}

#drink-title{
  font-weight: 300;
}
